@charset "UTF-8";

* {
    box-sizing: border-box;
}
html{
	position: relative;
	min-height: 100%;
	margin: 0;
	background-color: #f5f2f3;
}
body {
	max-width: 1200px; /* 화면이 일정크기 이상 늘어나지않도록합니다.*/
	min-height: 100%;
    margin: 0 auto;
    font-family: Fixedays;
    color: #5d5e5e;
}
header {
	color: #bb899a;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.navbar{
	display: flex;
	justify-content: space-between; /*중심축 배치*/
	align-items: center;
	background-color: #bb899a;
	padding: 3px 12px; /*위아래 8px, 양옆 12px*/
}
a{
	text-decoration: none;
	color: white;
}
.navbar__logo{
	font-size: 24px;
	color: white;
}
.navbar__logo i{
	color: black;
}
.navbar__menu {
	display: flex;
	list-style: none; /* ul태그의 점을 제거*/
	padding-left: 0;
}
.navbar__menu li{
	margin-right: 1rem;
	font-size: 17px;
	padding: 3px 12px;
}
.navbar__menu li:hover {
	background-color: #bba1aa;
	border-radius: 1rem;
}
.navbar__icons{
	padding-left: 0px;
	list-style: none;
	color : white;
	display: flex;
}
.navbar__icons li{
	padding: 8px 12px;
}
.navbar__toogleBtn{
	display: none; /*일반 사이즈에서는 나타나지 않음 */
	position: absolute;
	right: 15px;
	font-size: 24px;
	color: black;
}
.main{
	margin:10%;
	color: #5d5e5e;
	text-align: center;
}
.main > ul{
	list-style: none; /* ul태그의 점을 제거*/
}
.main > li{
	font-size: 17px;
}
.column {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
/* Left and right column */
.column.side {
    width: 25%;
}
/* Middle column */
.column.middle {
    width: 75%;  
    color: white;
}
.column.middle a{
	text-decoration: none;
	color: #454545;
}
.column.middle a:hover{
	color: #bb899a;
}

/* 테이블 세팅 */
.table {
	position: flex;
	width: 90%;
	max-width: 750px;
	border-collapse: collapse;
	border-top: 3px solid #bb899a;
	margin: 0 auto;	
	border-radius: 2rem;
}
.table th {
	color: #bb899a;
	background: white;
	text-align: center;
}
.table th, .table td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
.table th:first-child, .table td:first-child {
	border-left: 0;
}
.table th:last-child, .table td:last-child {
	border-right: 0;
}
.table tr td:first-child{
	text-align: center;
}
.table a{
	text-decoration: none;
	color: #454545;
}
.table a:hover {
    background-color: #ddd;
    color: #454545;
    border-radius:2rem;
}

.table textarea,.table input{
	width: 80%;
	padding: 8px;
	font-size: 17px;
	color: #555555;
	border-radius: 0.3rem;
	border: 0;
}
.img {
	display:flex;
	justify-content:center;
	margin:3em;

}
.img a{
	text-decoration: none;
	color: #454545;
}
.img a:hover{
	color: #bb899a;
}
.img img{
	width: 200px;
	height: 200px;
	border-radius: 1rem;
	border: 2px dotted #f1f1f1;
}
.img img:hover{
	border: 2px dotted #bb899a;
}
.button {
	margin-top: 20px;
	cursor: pointer;
}
.L { /* 테이블위 왼쪽에 총게시물 갯수를 표현 */
	position: flex;
	font-size:9px;
	color: #848484;
	text-align:left;
	width:90%;
	max-width:750px; 
	margin:0 auto;
	margin-bottom:-40px;
}
.R {/* 테이블위 오른쪽에 글쓰기 버튼 테이블과 width ,max-width 를 동일하게 작성해준다.*/
	position: flex;
	text-align:right;
	width:90%;
	max-width:750px;
	margin:0 auto;
}
.R a {/* 회원가입 링크 */
	text-decoration: none;
	color: #bb899a;	
}
.R a:hover {
	color: #555555;
}
.view {
	margin-top : 20px;
	margin-bottom : 40px;
}
.view a{
	text-decoration: none;
	color: #9c6071;
	margin : 10px;
}
.view a:hover {
    color: #454545;
}
.view button {
	cursor: pointer;
	width: inherit;
	height: inherit;
	color: #4b4c4c;
	background-color: white;
	border-radius: 0.5rem;
	font-size: 17px;
	border: 0 none;
	outline: 0 none;
	padding: 0 10px;
	position: relative;
	z-index: 3;
}
.view button:hover {
	color: #bb899a;

}
.login {
	width: 400px;	
	overflow: auto;
	border-radius: 0.5rem;	
	color: white;
	border: 0.1px solid white;
	background-color: #bb899a;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 25px;
	cursor: pointer;
}
/*plan*/

.row {
	width: 100%;
	min-height: 45em;
	text-align: center;
	color: #555555;
}
.row h2{
	margin-top:2em;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.game{
	display: flex;
	justify-content: center;
	align-items: center;
}
.window{
	padding: 32px;
	text-align: center;
	color: white;
	background-color:#bb899a;
}
.selectBox{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	
	color: #444;
	background-color: #fff;
	
	padding: 0.6em 1.4em 0.5em 0.8em;
	margin: 0;
	
	border: 1px solid #aaa;
	border-radius: 0.5em;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
	width: 100px;
	overflow: hidden;
}
.write{
	width: 100%;
	height: 300px; 
	text-align:left;
}
/*유튜브 동영상 비율*/
.videowrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 비율인 경우 */
	/* padding-bottom값은 4:3 비율인 경우 75%로 설정합니다 */
	padding-top: 25px;
	height: 0;
	
}

.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	border: 0;
}

/* 레이아웃을 반응형으로 만들때는 media 쿼리 사용*/
@media screen and (max-width: 750px) {
	.game{
		display: block;
	}
    .column.side, .column.middle{
        width: 100%;
    }
    .table,table, .L, .R{
    	width: 95%;
    	font-size: 90%;
    }
}

footer {
    position: absolute;
    left: 0;
	bottom: 0;
    width: 100%;   
    padding: 10px 0;
    text-align: center;
	color: #bb899a;
    font-size: 10px;
}