@charset "UTF-8";

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Fixedays;
    color: #434343;
}
/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    color: #454545;
    font-size: 20px;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #9c6071;
}
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: #454545;
}
/* Create three unequal columns that floats next to each other */
.column {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
/* Left and right column */
.column.side {
    width: 25%;
}
/* Middle column */
.column.middle {
    width: 75%;  
    color: white;
}
.column.middle a{
	text-decoration: none;
	color: #454545;
}
.column.middle a:hover{
	color: #9c6071;
}

/* 테이블 세팅 */
.table {
	position: flex;
	width: 75%;
	max-width: 750px;
	border-collapse: collapse;
	border-top: 3px solid #9c6071;
	margin: 0 auto;
}
.table th {
	color: #9c6071;
	background: #f1f1f1;
	text-align: center;
}
.table th, .table td {
	padding: 8px;
	border: 1px solid #ddd;
}
.table th:first-child, .table td:first-child {
	border-left: 0;
}
.table th:last-child, .table td:last-child {
	border-right: 0;
}
.table tr td:first-child{
	text-align: center;
}
.table a{
	text-decoration: none;
	color: #454545;
}
.table a:hover {
    background-color: #ddd;
    color: #454545;
}
.img {
	margin: 5%;
}
.img a{
	text-decoration: none;
	color: #454545;
}
.img a:hover{
	color: #9c6071;
}
.img img{
	width: 200px;
	height: 200px;
	border-radius: 1rem;
	border: 2px dotted #f1f1f1;
}
.img img:hover{
	border: 2px dotted #9c6071;
}
.button {
	margin-top:20px;
}
.L { /* 테이블위 왼쪽에 총게시물 갯수를 표현 */
	position: flex;
	font-size:10px;
	color: #848484;
	text-align:left;
	width:75%;
	max-width:750px; 
	margin:0 auto;
	margin-bottom:-40px;
}
.R {/* 테이블위 오른쪽에 글쓰기 버튼 테이블과 width ,max-width 를 동일하게 작성해준다.*/
	position: flex;
	text-align:right;
	width:75%;
	max-width:750px;
	margin:0 auto;
}
.view {
	margin : 30px;
}
.view a{
	text-decoration: none;
	color: #9c6071;
	margin : 10px;
}
.view a:hover {
    background-color: #ddd;
    color: #454545;
}
.row {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #454545;

}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 750px) {
    .column.side, .column.middle{
        width: 100%;
    }
    .table, .L, .R{
    	width: 98%;
    	font-size: 90%;
    }
}
/* Style the footer */
.footer {
    position: fixed;
    width: 100%;
	bottom: 0px;
	color: #fff;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}