@charset "UTF-8";

.column {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
/* Left and right column */
.column.side {
    width: 25%;
}
/* Middle column */
.column.middle {
    width: 75%;  
    color: white;
}
.column.middle a{
	text-decoration: none;
	color: #454545;
}
.column.middle a:hover{
	color: #bb899a;
}
/* 테이블 세팅 */
.table {
	position: flex;
	width: 600px;
	height: 500px;	
	border-collapse: collapse;
	border-top: 3px solid #bb899a;
	margin: 0 auto;	
	font-size: 17px;
}
.table th {
	color: #bb899a;
	background: white;
	text-align: center;
	padding: 8px;
}
.table td{
	padding: 10px;
}
.table th:first-child, .table td:first-child {
	border-left: 0;
}
.table th:last-child, .table td:last-child {
	border-right: 0;
}
.table tr td:first-child{
	text-align: center;
}

.table td:hover{
	cursor: pointer;
	background-color: #d0b6c6;
	color: white;
	border-radius: 0.5rem;
	opacity: 0.3;
}
.table a{
	text-decoration: none;
	color: #454545;
}
.table a:hover {
    background-color: #ddd;
    color: #454545;
    border-radius:2rem;
}
textarea,input{
	font-size:17px;
	color:#555555;
}
.button {
	margin-top: 20px;
	cursor: pointer;
}
.view {
	margin-top : 20px;
	margin-bottom : 40px;
}
.view a{
	text-decoration: none;
	color: #9c6071;
	margin : 10px;
}
.view a:hover {
    color: #454545;
}
.view button {
	cursor: pointer;
	width: inherit;
	height: inherit;
	background: transparent;
	border: 0 none;
	outline: 0 none;
	padding: 0 5px;
	position: relative;
	z-index: 3;
}
.view button:hover {
	color: #bb899a;

}
/*plan*/

.row {
	width: 100%;
	min-height: 45em;
	text-align: center;
	color: #555555;
	margin-top: 20px;
}
.row h2{
	margin-top:2em;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {

    .table,table{
    	width: 30%;
    	height: 400px;
    	font-size: 80%;
    }
}

button{	
	width: 45px;
	height: 30px;
	border-collapse: collapse;
	border-radius: 0.7em;
	border: 0;
	background-color: #bb899a;	
	color:white;
}
button:hover{
	cursor: pointer;
	background-color: white;
	color:#bb899a;
}

/*select box 꾸미기*/
.selectBox {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	margin: 40px;
	border-radius: 1em;
}
.selectBox .select {
	width: inherit;
	height: inherit;
	background: transparent;
	border: 0 none;
	outline: 0 none;
	padding: 0 5px;
	position: relative;
	z-index: 3;
}
.selectBox .select option {
	color: #fff;
	padding: 3px 0;
	font-size: 16px;
}
.select:hover {
	cursor: pointer;
}
/* Style the footer */
footer {
    position: fixed;
    width: 100%;   
	bottom: 0px;
	color: #bb899a;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}