* {
    box-sizing: border-box;
}
html{
	background-color: #f5f2f3;
}
body {
    margin: 0;
    font-family: Fixedays;
    color: #5d5e5e;
}
header {
	color: #bb899a;
    padding: 15px;
    text-align: center;
    font-size: 20px;
}
.navbar{
	display: flex;
	justify-content: space-between; /*중심축 배치*/
	align-items: center;
	background-color: #bb899a;
	padding: 3px 15px; /*위아래 8px, 양옆 12px*/
}
a{
	text-decoration: none;
	color: white;
}
.navbar__logo{
	font-size: 24px;
	color: white;
}
.navbar__logo i{
	color: black;
}
.navbar__menu {
	display: flex;
	list-style: none; /* ul태그의 점을 제거*/
	padding-left: 0;
}
.navbar__menu li{
	margin-right: 1rem;
	font-size: 17px;
	padding: 3px 15px;
}
.navbar__menu li:hover {
	background-color: #bba1aa;
	border-radius: 1rem;
}
.navbar__icons{
	padding-left: 0px;
	list-style: none;
	color : white;
	display: flex;
}
.navbar__icons li{
	padding: 8px 12px;
}
.navbar__toogleBtn{
	display: none; /*일반 사이즈에서는 나타나지 않음 */
	position: absolute;
	right: 15px;
	font-size: 24px;
	color: black;
}

/* 레이아웃을 반응형으로 만들때는 media 쿼리 사용*/
@media screen and (max-width: 750px) {
    .column.side, .column.middle{
        width: 100%;
    }
    .table,table, .L, .R{
    	width: 95%;
    	font-size: 90%;
    }
    /*로고,메뉴바가 수직으로 나오도록*/
    .navbar{
    	flex-direction: column;
    	align-items: flex-start; 
    	padding: 8px 24px;
    }
    .navbar__menu{
    	display: none; /* 현 사이즈에선 메뉴가 나타나지 않음*/
    	flex-direction: column;
    	align-items: center;
    	width: 100%;
    }
    .navbar__menu li{
    	margin: 0.5rem;
    	width: 100%;
    	text-align: center;
    }
    .navbar__icons{
    	display: none;
    	justify-content: center;
    	width: 100%;
    }
    .navbar__toogleBtn{
    	display: block;
    }
    /* active 요소 추가 */
    .navbar__menu.active,
    .navbar__icons.active{
    	display: flex;
    }
}